/* responsive  mobile devices */
@media screen and (max-width:600px) {
    .main {
        width: 100%;
    }

    nav {
        padding-right: 20px;
        padding-left: 20px;
    }

    .nav-link {
        display: none;
    }

    .nav-title {
        font-size: 1.3rem;
    }

    .logo img {
        width: 28.724px;
        height: 33.516px;
    }

    .menu {
        display: block;
    }

    /* responsive nav bar design end */

    .popular-tours-section {
        flex-direction: column;
        padding: 20px;
        gap: 30px;
    }

    .tours-text {
        width: 100%;
    }

    .tours-text h3 {
        font-size: 22px;
    }

    .tour-img {
        width: 100%;
    }
}