/* responsive  mobile devices */
@media screen and (max-width:600px) {
    .main {
        width: 100%;
    }

    nav {
        padding-right: 20px;
        padding-left: 20px;
    }

    .nav-link {
        display: none;
    }

    .nav-title {
        font-size: 1.3rem;
    }

    .logo img {
        width: 28.724px;
        height: 33.516px;
    }

    .menu {
        display: block;
    }

    /* responsive nav bar design end */



    /* popular tours  */
    .popular-tours-section {
        flex-direction: column;
        padding: 20px;
        gap: 30px;
    }

    .tours-text {
        width: 100%;
    }

    .tours-text h3 {
        font-size: 22px;
    }

    .tour-img {
        width: 100%;
    }


    /* why choose us */
    .hotel_service-container {
        flex-direction: column;
    }

    .choose-us-section {
        padding: 20px;
    }

    .choose-us-section h3 {
        font-size: 1.25rem;
    }

    .choose-us-text {
        width: 100%;
    }

    .hotel {
        width: 100%;
        padding: 20px;
    }

    .best-price {
        width: 100%;
        padding: 20px;
    }

    .service {
        width: 100%;
        padding: 20px;
    }
}